<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>出入库管理系统</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/stockOut.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/zoomify.min.css"/>
    <link rel="stylesheet" href="css/window.css"/>
    <!--<link rel="stylesheet" href="css/jquery-ui.min.css"/>--> 
    <script type="text/javascript" src="js/window.js"></script>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/zoomify.min.js"></script>
    <script type="text/javascript">
        //执行一个laydate实例
        laydate.render({
            elem: '#mydate1',//指定元素
            btns: ['confirm']
        });
        laydate.render({
            elem: '#mydate2',//指定元素
            btns: ['confirm']
        });
    </script>
    <style type="text/css">
    </style>
</head>
<body>

<div id="main">
    <!--头部区域  -->
    <div class="header">
        <div class="text">
            <a><img src="img/旅徽PNG.png"/>&nbsp;出入库管理系统</a>
        </div>
        <a href="/personal" class="home">
            <img src="./img/个人中心.png" alt="">
            <span>个人中心</span>
        </a>
        <a class="tuichu" href="/outlogin">
            <img src="img/退出登录换.png"/>
            <span>退出登录</span>
        </a>
        <div class="h-line"></div>
    </div>
    <!-- 主体内容 -->
    <div class="content">
        <!--左侧-->
        <div class="left_div">
            <li class="left" style="background:rgb(18,74,121);">
                <a href="/stockOut" id="Stock-Out">出库管理</a>
                <img id="Stock-Out" src="./img/出库.png" alt="">
            </li>
            <li class="left">
                <a href="/stockIn">入库管理</a>
                <img src="./img/入库.png" alt="">
            </li>
            <li class="left">
                <a href="/retrievalQuery" id="retrievalQuery">检索查询</a>
                <img id="retrievalQuery" src="./img/检索.png" alt="">
            </li>
            <li class="left" v-show="cookie==2" style="display: none" v-cloak>
                <a href="/userManagement" id="userManagement">用户管理</a>
                <img id="yhgl_im" src="./img/用户管理拷贝.png" alt="">
            </li>
        </div>
    </div>
    <!--右侧-->
    <div class="right_div" id="rightDiv">
        <!--搜索-->

        <div class="userMangament">
            <div style="margin-right: 45px;" class="date-content">
                <a id="user1">出库管理</a>
                <!--<span style="margin-left: 32%;font-size: 14px;color: #999;">单据日期：</span>-->
                <!--<input  style="margin-left: 0;" placeholder="请输入开始日期" class="laydate-icon" id="mydate1">-->
                <!--<span>&#45;&#45;</span>-->
                <!--<input  value="" placeholder="请输入结束日期" class="laydate-icon" id="mydate2">-->
                <!--<input type="text" class="laydate-icon" id="search" placeholder="输入关键词进行搜索" style="border:1px #ccc solid; -->
                <!--background:url(img/search.png)no-repeat 130px; padding-left:0px;padding-right: 16px;  font-size:14px;" >-->
            </div>
        </div>
        <!--出库单-->
        <div class="userlist" id="userlist" style="display: block">
            <a class="userlist1" style="font-size: 14px;color:#999;position: absolute;left: 28px;top: 10px;">出库单</a>
            <button style="background: #0176d6;color: #fff;font-size: 15px;" class="btn-default" id="btn-add"
                    v-on:click="addxianshi=true">新增
            </button>
            <!--<div class="oddicon">-->
            <!--<span class="oddicon-in" id="oddicon-in"><img src="img/导入copy.png"/><br/>导入</span>-->
            <!--<span class="oddicon-out" id="oddicon-out"><img src="img/导出(1).png"/><br/>导出</span>-->
            <!--<span class="oddicon-prt" id="oddicon-prt"><img src="img/打印.png"/><br/>打印</span>-->
            <!--</div>-->
            <!--属性列表-->
            <div style="overflow-x: auto;margin-left: 28px;margin-top: -30px;margin-right: 20px;">
                <table class="table table-bordered table-hover" style="min-width: 1024px">
                    <!--页头-->
                    <thead>
                    <tr style="background: #1458a7;color: #fff;height: 30px;">
                        <th style="font-size: 15px;">序号</th>
                        <th style="font-size: 15px;">订单编号</th>
                        <th style="font-size: 15px;">领取单位</th>
                        <th style="font-size: 15px;">领取人</th>
                        <th style="font-size: 15px;">发放人</th>
                        <th style="font-size: 15px;">负责人</th>
                        <th style="font-size: 15px;">出库时间</th>
                        <th style="font-size: 15px;">操作</th>
                    </tr>
                    </thead>
                    <!--分区：页脚 -->
                    <tfoot>

                    </tfoot>
                    <!-- 分区：主体 -->
                    <tbody id="tbody">
                    <tr v-for="(item,index) in goodslist">
                        <td>{{index+1}}</td>
                        <td>{{item.oid}}</td>
                        <td>{{item.com_cat}}</td>
                        <td>{{item.twopeople}}</td>
                        <td>{{item.onepeople}}</td>
                        <td>{{item.threepeople}}</td>
                        <td>{{item.time}}</td>
                        <td><input type="button" value="详情" class="xq-btn" id="xq-Out"
                                   v-on:click="outquery(item.oid)"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--分页显示-->
            <div style="float:right;padding:5px 0;margin-right: 20px" id="div1">
                <p>
                    <button v-on:click="first()" class="btn btn-primary btn-sm" id="sy">第一页</button>
                    <button v-on:click="on()" class="btn btn-primary btn-sm" id="syy">上一页</button>
                    <button v-on:click="down()" class="btn btn-primary btn-sm" id="xyy">下一页</button>
                    <button v-on:click="last()" class="btn btn-primary btn-sm" id="my">最后一页</button>
                    共<span style="text-align: center;width:45px;display: inline-block;" id="tiaoshu">{{num}}</span>
                    </select>条,
                    第<span style="text-align: center;width:74px;display: inline-block;"
                           id="pageNum">{{page}}/{{pages}}</span>页
                    <!--<input style="width: 50px;" id="ty" value=""/>-->
                    <!--<button onclick="selectByPage()" id="tz" class="btn btn-primary btn-sm">确定</button>-->
                </p>
            </div>
        </div>


        <!--新增弹窗-->
        <div class="dialog-background" id="StockOutlist4" style="display:none;" v-show="addxianshi" v-cloak>
            <div class="dialog-container">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" v-on:click="closeAdd()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="text-align: center;">出库单</h4>
                </div>
                <div class="modal-body" style="min-height: 395px;">
                    <table class="table2" border="0" width="95%">
                        <tr>
                            <td class="icon-bar">领取单位：</td>
                            <td class="icon-bar">
                                <input type="text" id="out-unit" class="form-control" v-model="outputs.com_cat">
                            </td>
                        </tr>
                        <tr>
                            <td class="icon-bar">领取人：</td>
                            <td>
                                <input type="text" id="attr_desc1" class="form-control" v-model="outputs.twopeople"/>
                            </td>
                            <td class="icon-bar">发放人：</td>
                            <td>
                                <input type="text" id="attr_desc1" class="form-control" v-model="outputs.onepeople"/>
                            </td>
                        </tr>
                    </table>
                    <!---属性列表-->
                    <div class="sti-tbl-container" style="min-height:  272px;max-height: 275px;" >
                        <!--页头-->
                        <div class="sti-tbl-header" style="padding-right:10px;">
                            <table class="table table-bordered"
                                   style="min-width: 900px;margin-bottom: 0px;border-bottom-style: none;">
                                <thead>
                                <tr style="background: #1458a7;color: #fff;">
                                    <th style="font-size: 15px;white-space: nowrap;">序号</th>
                                    <th style="font-size: 15px;white-space: nowrap;">品名</th>
                                    <th style="font-size: 15px;white-space: nowrap;">规格型号</th>
                                    <th style="font-size: 15px;white-space: nowrap;">单位</th>
                                    <th style="font-size: 15px;white-space: nowrap;">单价</th>
                                    <th style="font-size: 15px;white-space: nowrap;">库存</th>
                                    <th style="font-size: 15px;white-space: nowrap;">通知数</th>
                                    <th style="font-size: 15px;white-space: nowrap;">实发数</th>
                                    <th style="font-size: 15px; white-space: nowrap;">总金额</th>
                                    <th style="font-size: 15px; white-space: nowrap; width: 140px;">操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!--分区：页脚 -->
                        <tfoot>
                        </tfoot>
                        <!-- 分区：主体 -->
                        <div class="sti-tbl-body">
                            <table class="table table-bordered" style="min-width: 800px;">
                                <tbody id="tbody">
                                <tr v-for="(item,index) in outputs.datas" v-if="outputs.datas.length>0">
                                    <td v-if="index!=vindex" class="input-wid">{{index+1}}</td>
                                    <td v-if="index!=vindex" class="input-wid" v-bind:title="item.sname">{{item.sname}}</td>
                                    <td v-if="index!=vindex" class="input-wid" v-bind:title="item.size">{{item.size}}</td>
                                    <td v-if="index!=vindex" class="input-wid">{{item.unit}}</td>
                                    <td v-if="index!=vindex" class="input-wid">{{item.price}}</td>
                                    <td v-if="index!=vindex" class="input-wid">{{item.kucun}}</td>
                                    <td v-if="index!=vindex" class="input-wid">{{item.expectednum}}</td>
                                    <td v-if="index!=vindex" class="input-wid">{{item.actualnum}}</td>
                                    <td v-if="index!=vindex" class="input-wid">{{item.prices}}</td>
                                    <td v-if="index!=vindex" style="white-space: nowrap;width: 140px;">
                                        <input type="button" value="修改" class="xq-btn" id="xq-Out"
                                               v-on:click="xiugai(index,item.size)"/>
                                        <input type="button" value="删除" class="xq-btn" id="xq-Out"
                                               v-on:click="deleteshop(index)"/></td>
                                    <td v-if="index==vindex">{{index+1}}</td>
                                    <td v-if="index==vindex">
                                        <input type="text" autocomplete="off" class="input-wid" v-model="item.sname"
                                               v-on:blur=""/>
                                        <ul class="list-group" style="width:100px;margin: 0; padding: 0;"
                                            v-if="!(snamelist.length==1&&snamelist[0]==item.sname)">
                                            <a href="#" class="list-group-item" v-for='(items,index) in snamelist'
                                               v-on:click=''>{{item}}</a>
                                        </ul>
                                    </td>
                                    <td v-if="index==vindex">
                                        <select v-model="item.size"
                                                style="width: 100px; height: 20px; -webkit-appearance: none;-moz-appearance: none;appearance: none;"
                                                class="input-wid" v-on:blur="">
                                            <option v-for="option in options">
                                                {{option}}
                                            </option>
                                        </select>
                                    </td>
                                    <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.unit"/>
                                    </td>
                                    <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.price"/>
                                    </td>
                                    <td v-if="index==vindex">{{item.kucun}}</td>
                                    <td v-if="index==vindex"><input type="text" class="input-wid"
                                                                    v-model="item.expectednum"/></td>
                                    <td v-if="index==vindex"><input type="text" class="input-wid"
                                                                    v-model="item.actualnum"/></td>
                                    <td v-if="index==vindex">
                                        {{item.price*item.actualnum}}
                                    </td>
                                    <td v-if="index==vindex" style="width: 140px;"><input type="button" value="保存"
                                                                                          class="xq-btn"
                                                                                          v-on:click="saveshop(index,item.price,item.actualnum)"/>
                                </tr>
                                <tr v-show="shop.addshopxianshi">
                                    <td></td>
                                    <td>
                                        <input class="input-wid" type="text" autocomplete="on" v-model="shop.sname"
                                               v-on:blur="findsizes(shop.sname)"/>
                                        <ul class="list-group" style="width:80px;margin: 0; padding: 0;"
                                            v-if="!(snamelist.length==1&&snamelist[0]==shop.sname)">
                                            <a href="#" class="list-group-item" v-for='(item,index) in snamelist'
                                               v-on:click='findsizes(item)'>{{item}}</a>
                                        </ul>
                                    </td>
                                    <td>
                                        <select class="input-wid" v-model="shop.size"
                                                style="width: 100px; height: 20px;-webkit-appearance: none;-moz-appearance: none;appearance: none;"
                                                v-on:blur="findall()">
                                            <option disabled value="">请选择</option>
                                            <option v-for="option in options">
                                                {{option}}
                                            </option>
                                        </select>
                                    </td>
                                    <td><input type="text" class="input-wid" v-model="shop.unit"/></td>
                                    <td><input type="text" class="input-wid" v-model="shop.price"/></td>
                                    <td>{{shop.kucun}}</td>
                                    <td><input type="text" class="input-wid" v-model="shop.expectednum"/></td>
                                    <td><input type="text" class="input-wid" v-model="shop.actualnum"/></td>
                                    <td>
                                        {{shop.price*shop.actualnum}}
                                    </td>
                                    <td style="width: 140px"><input type="button" value="保存" class="xq-btn"
                                                                    v-on:click="addSave()"/></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="add" id="add"
                     style="height: 20px; width: 930px;margin-bottom:5px; text-align: right;"
                     v-on:click="shop.addshopxianshi=true">
                    <img src="img/增加.png"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" v-on:click="closeAdd()">关闭</button>
                    <button type="button" class="btn btn-primary" v-on:click="orderSave()">保存</button>
                </div>
            </div><!-- /.modal-content -->
        </div>
        <!--判断弹窗-->


        <!--出库单详情弹窗-->
        <div class="dialog-background" id="StockOutlist5" style="display:none;" v-show="xianshi" v-cloak>
            <div class="dialog-container">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" v-on:click="close()"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" style="text-align: center;">出库单</h4>
                    <div class="oddicon1">
                    <!--<span class="oddicon-in1" id="oddicon-in"><img src="img/导出(1).png"/><br/><a-->
                            <!--:href="url+'/word/out/' + goods.oid " style="color: #999999;">导出</a></span>-->
                        <span class="oddicon-prt1" id="oddicon-out"><a
                                :href="url+'/word/out/' + goods.oid " style="color: #999999;"><img
                                src="img/导出(1).png"/><br/>导出</a></span>
                    </div>
                </div>
                <div class="modal-body">
                    <table border="0" width="95%" style="text-align: center;">
                        <tr>
                            <td class="right-a"><b>领取单位：</b></td>
                            <td class="left-a"><b id="out-unit" class="form-a">{{goods.com_cat}}</b></td>
                            <td class="right-a"><b>负责人：</b></td>
                            <td class="left-a"><b id="fun-person" class="form-a">{{goods.threepeople}}</b></td>
                        </tr>
                        <tr>
                            <td class="right-a"><b>出库时间：</b></td>
                            <td class="left-a"><b id="out-time" class="form-a">{{goods.time}}</b></td>
                            <td class="right-a"><b>发放人：</b></td>
                            <td class="left-a"><b id="attr_desc1" class="form-a">{{goods.onepeople}}</b></td>
                        </tr>
                        <tr>
                            <td colspan="2"></td>
                            <td class="right-a"><b>领取人：</b></td>
                            <td class="left-a"><b id="attr_desc1" class="form-a">{{goods.twopeople}}</b></td>
                        </tr>
                    </table>
                    <!--属性列表-->
                    <div class="sti-tbl-container" style="min-height: 315px; margin-left: 10px;margin-top: 20px;">
                        <!--页头-->
                        <div class="sti-tbl-header" style="padding-right:10px;">
                            <table class="table table-bordered"
                                   style="min-width: 900px;margin-bottom: 0px;border-bottom-style: none;">
                                <tr style="background: #1458a7;color: #fff;">
                                    <th style="font-size: 15px; width: 5%;white-space: nowrap;">序号</th>
                                    <th style="font-size: 15px;width: 20%;white-space: nowrap;">品名</th>
                                    <th style="font-size: 15px;width: 20%;white-space: nowrap;">规格型号</th>
                                    <th style="font-size: 15px;width: 5%;white-space: nowrap;">单位</th>
                                    <th style="font-size: 15px;width: 5%;white-space: nowrap;">单价</th>
                                    <th style="font-size: 15px;width: 10%;white-space: nowrap;">通知数</th>
                                    <th style="font-size: 15px;width: 10%;white-space: nowrap;">实发数</th>
                                    <th style="font-size: 15px;width: 25%;white-space: nowrap;">总金额</th>
                                </tr>
                            </table>
                        </div>
                        <!--分区：页脚 -->
                        <tfoot>
                        </tfoot>
                        <!-- 分区：主体 -->
                        <div class="sti-tbl-body">
                            <table class="table table-bordered" style="min-width: 900px;">
                                <tbody id="tbody">
                                <tr v-for="(item,index) in goods.datas">
                                    <td width="5%" class="input-wid">{{index+1}}</td>
                                    <td width="20%" class="input-wid">{{item.sname}}</td>
                                    <td width="20%" class="input-wid">{{item.size}}</td>
                                    <td width="5%" class="input-wid">{{item.unit}}</td>
                                    <td width="5%" class="input-wid">{{item.price}}</td>
                                    <td width="10%" class="input-wid">{{item.expectednum}}</td>
                                    <td width="10%" class="input-wid">{{item.actualnum}}</td>
                                    <td width="25%" class="input-wid">{{item.prices}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="height: 60px;margin-top: -18px;">
                    <div class="example" v-for='(item,index) in pictures'>
                        <img v-bind:src="item" class="pictures">
                        <a href="#" v-on:click="delepictores(index,goods.oid)">
                            <img src="./img/删除2.png" class="delete" title="删除图片"/>
                        </a>
                    </div>
                    <div class="add-picture">
                        <form id="picForm">
                            <input type="hidden" name="oid" v-model="goods.oid">
                            <a href="#"><input type="file" id="pictures" name="pictures" multiple="multiple"
                                               v-on:change="addpictores()"> </a>
                        </form>
                    </div>

                </div><!-- /.modal-content -->
            </div>
            <!--判断弹窗-->
        </div>
    </div>

</div>


<script type="text/javascript">
    var output = new Vue({
        el: "#main",
        data: {
            cookie: document.cookie.split('=')[1],
            vindex: -1,
            url: "",
            xianshi: false,
            addxianshi: false,
            pages: 1,
            num: 0,
            page: 1,
            goodslist: [],
            goods: [],
            outputs: {
                com_cat: '',
                onepeople: '',
                twopeople: "",
                datas: []
            },
            shop: {
                addshopxianshi: true,
                sname: '',
                size: '',
                unit: "",
                price: 0.00,
                kucun: 0,
                expectednum: 0, //通知数
                actualnum: 0//实发数
            },
            timer: [0, 0],
            options: [],//下拉框
            pictures: []//图片
        },
        mounted: function () {
            $("body").on("click", ".pictures", function
                () {
                $(this).zoomify("zoom");
            })
            this.do()
        },
        computed: {
            //新增搜索下拉单
            snamelist: function () {
                let list = []
                if (this.shop.sname) {
                    this.timer[1] = new Date().getTime()
                    if (this.timer[1] - this.timer[0] > 500) {
                        $.ajax({
                            type: "POST",
                            url: this.url + "/output/fuzzyFindSname",
                            async: false,
                            data: {
                                sname: output.shop.sname
                            },
                            success: function (data) {
                                if (data.code == 0) {
                                    win.alert("提示",data.msg)
                                } else {
                                    if (data.data.length > 0) {
                                        list = data.data
                                    }
                                }
                            },
                            error: function () {
                            	win.alert("提示","错误");
//                              alert("错误");
                            }
                        });
                    }
                }
                return list
            },
        },
        methods: {
            do: function () {
                $.ajax({
                    type: "GET",
                    url: this.url + "/output/list",
                    data: {
                        page: 1
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data.result.length > 0) {
                                output.num = data.data.num
                                output.page = data.data.current_page
                                output.pages = data.data.pages
                                output.goodslist = data.data.result
                            } else {
                               win.alert("提示","没有该信息");
                            }
                        }
                    },
                    error: function () {
                        win.alert("提示","错误");
                    }
                });
            },
            outquery: function (oid) {
                $.ajax({
                    type: "GET",
                    url: this.url + "/query/findByOid/" + oid,
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data) {
                                output.pictures = data.data.picture
                                output.goods = data.data
                                output.xianshi = true
                            } else {
                              win.alert("提示","没有该信息");
                            }
                        }
                    },
                    error: function () {
                        win.alert("提示","错误");
                    }
                });
            },
            close: function () {
                output.xianshi = false;
                output.goods = []
                output.pictures = []
            },
            first: function () {
                $.ajax({
                    type: "GET",
                    url: this.url + "/output/list",
                    data: {
                        page: 1
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data.result.length > 0) {
                                output.num = data.data.num
                                output.page = data.data.current_page
                                output.pages = data.data.pages
                                output.goodslist = data.data.result
                            } else {
                               win.alert("提示","没有该信息");
                            }
                        }
                    },
                    error: function () {
                        win.alert("提示","错误");
                    }
                });
            },
            on: function () {
                if (this.page - 1 > 0) {
                    $.ajax({
                        type: "GET",
                        url: this.url + "/output/list",
                        data: {
                            page: this.page - 1
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                win.alert("提示",data.msg)
                            } else {
                                if (data.data.result.length > 0) {
                                    output.num = data.data.num
                                    output.page = data.data.current_page
                                    output.pages = data.data.pages
                                    output.goodslist = data.data.result
                                } else {
                                   win.alert("提示","没有该信息");
                                }
                            }
                        },
                        error: function () {
                          win.alert("提示","错误");
                        }
                    });
                } else {
                	
                    win.alert('提示',"已经是第一页了");
                }
            },
            down: function () {
                if (this.page + 1 <= this.pages) {
                    $.ajax({
                        type: "GET",
                        url: this.url + "/output/list",
                        data: {
                            page: this.page + 1
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                win.alert("提示",data.msg)
                            } else {
                                if (data.data.result.length > 0) {
                                    output.num = data.data.num
                                    output.page = data.data.current_page
                                    output.pages = data.data.pages
                                    output.goodslist = data.data.result
                                } else {
                                  win.alert("提示","没有该信息");
                                }
                            }
                        },
                        error: function () {
                            win.alert("提示","错误");
                        }
                    });
                } else {
                 
                   win.alert("提示","已经是最后一页了");                  
                }
            },
            last: function () {
                $.ajax({
                    type: "GET",
                    url: this.url + "/output/list",
                    data: {
                        page: this.pages
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data.result.length > 0) {
                                output.num = data.data.num
                                output.page = data.data.current_page
                                output.pages = data.data.pages
                                output.goodslist = data.data.result
                            } else {
                            	win.alert("提示","没有该信息");
//                              alert("没有该信息")
                            }
                        }
                    },
                    error: function () {
                       win.alert("提示","错误");
                    }
                });
            },
            closeAdd: function () {
                output.addxianshi = false;
                output.outputs.datas = []
                output.outputs.twopeople = ''
                output.outputs.onepeople = ''
                output.outputs.com_cat = ''
                output.shop.sname = ''
                output.shop.size = ''
                output.shop.unit = ''
                output.shop.price = 0.00
                output.shop.kucun = 0
                output.shop.expectednum = 0
                output.shop.actualnum = 0
                output.shop.addshopxianshi = true
            },
            addSave: function () {
                output.options = []
                output.shop.addshopxianshi = false
                output.outputs.datas.push({
                    sname: output.shop.sname,
                    size: output.shop.size,
                    unit: output.shop.unit,
                    price: output.shop.price,
                    kucun: output.shop.kucun,
                    expectednum: output.shop.expectednum,
                    actualnum: output.shop.actualnum,
                    prices: output.shop.price * output.shop.actualnum
                })
                output.shop.sname = ''
                output.shop.size = ''
                output.shop.unit = ''
                output.shop.price = 0.00
                output.shop.kucun = 0
                output.shop.expectednum = 0
                output.shop.actualnum = 0
            },
            deleteshop: function (index) {
                output.outputs.datas.splice(index, 1)
            },
            saveshop: function (index, price, num) {
                output.vindex = -1
                output.outputs.datas[index].prices = num * price
            },
            orderSave: function () {
                $.ajax({
                    type: "POST",
                    url: this.url + "/output/add",
                    data: {
                        com_cat: output.outputs.com_cat,
                        onepeople: output.outputs.onepeople,
                        twopeople: output.outputs.twopeople,
                        datas: JSON.stringify(output.outputs.datas)
                    },
//                    dataType: "json",
                    traditional: true,//这里设置为true
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            output.addxianshi = false;
                            output.outputs.datas = []
                            output.outputs.twopeople = ''
                            output.outputs.onepeople = ''
                            output.outputs.com_cat = ''
                            output.shop.sname = ''
                            output.shop.size = ''
                            output.shop.unit = ''
                            output.shop.price = 0.00
                            output.shop.kucun = 0
                            output.shop.expectednum = 0
                            output.shop.actualnum = 0
                            output.shop.addshopxianshi = true
                            output.do()
                        }
                    },
                    error: function () {
                       win.alert("提示","错误");
                    }
                });
            },
            xiugai: function (index, size) {
                output.vindex = index
                this.options.push(size)
            },
            findsizes: function (item) {
                this.shop.sname = item
                if (this.snamelist.length <= 0) {
                    this.shop.sname = ''
                    this.options = []
                    this.shop.size = ''
                } else {
                    if (this.shop.sname) {
                        $.ajax({
                            type: "POST",
                            url: this.url + "/output/findSize",
                            data: {
                                sname: output.shop.sname
                            },
//                        async: false,
                            success: function (data) {
                                if (data.code == 0) {
                                    win.alert("提示",data.msg)
                                } else {
                                    if (data.data.length > 0) {
                                        output.options = data.data
                                    }
                                }
                            },
                            error: function () {
                               win.alert("提示","错误");
                            }
                        });
                    }
                }
            },
            //查找库存单位单价
            findall: function () {
                if (output.shop.sname && output.shop.size) {
                    $.ajax({
                        type: "POST",
                        url: this.url + "/output/callback",
                        data: {
                            sname: output.shop.sname,
                            size: output.shop.size
                        },
//                        async: false,
                        success: function (data) {
                            if (data.code == 0) {
                                win.alert("提示",data.msg)
                            } else {
                                if (data.data) {
                                    output.shop.unit = data.data.unit
                                    output.shop.price = data.data.price
                                    output.shop.kucun = data.data.num
                                }
                            }
                        },
                        error: function () {
                            win.alert("提示","错误");
                        }
                    });
                }
            },
            addpictores: function () {
                var formData = new FormData($("#picForm")[0]);
                $('#picForm')[0].reset()
//                var xhr = new XMLHttpRequest();
//                xhr.upload.addEventListener("progress", function showProgress(event){
//                    //已经上传的字节数
//                    var loaded=event.loaded;
//                    //文件总的字节数
//                    var total=event.total;
//                    //上传进度
//                    var percent = (loaded / total) * 100 + "%";
//                    console.log(percent)
//                })
//                //上传文件要发送post的ajax请求
//                xhr.open("POST", "/pic/add");
//                xhr.send(formData);
                $.ajax({
                    url: '/pic/add',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (value) {
                        output.pictures = value.paths
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            },
            delepictores: function (index, oid) {
                var delpaths = output.pictures[index]
                output.pictures.splice(index, 1)
                $.ajax({
                    url: 'pic/delete',
                    type: 'POST',
                    data: {
                        oid: oid,
                        paths: delpaths
                    },
                    success: function (value) {
                        if (value.code == 0) {
                            win.alert("提示",value.msg);
                        } else {
                            console.log(value.data)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            }
        }
    })
</script>
</body>
</html>
		
	