<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>出入库管理系统</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/stockIn.css">
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/zoomify.min.css"/> 
    <link rel="stylesheet" type="text/css" href="css/window.css"/>
    <script type="text/javascript" src="js/laydate/laydate.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/window.js" ></script>
    <script type="text/javascript" src="js/zoomify.min.js" ></script>
    <script type="text/javascript">
        //执行一个laydate实例
        laydate.render({
            elem: '#mydate1',//指定元素
            btns: ['confirm']
        });
        laydate.render({
            elem: '#mydate2',//指定元素
            btns: ['confirm']
        });
    </script>
</head>
<body>
<div id="main">
<!--头部区域  -->
<div class="header">
    <div class="text">
         <a><img src="img/旅徽PNG.png" />&nbsp;出入库管理系统</a>
    </div>
    <a href="/personal" class="home">
        <img src="./img/个人中心.png" alt="">
        <span>个人中心</span>
    </a>
    <a class="tuichu" href="/outlogin">
        <img src="img/退出登录换.png"/>
        <span>退出登录</span>
    </a>
    <div class="h-line"></div>
</div>
<!-- 主体内容 -->
<div class="content">
    <!--左侧-->
    <div class="left_div">
        <li class="left">
            <a href="/stockout" id="Stock-Out">出库管理</a>
            <img id="Stock-Out" src="./img/出库.png" alt="">
        </li>
        <li class="left" style="background:rgb(18,74,121);">
            <a id="/StocksIn">入库管理</a>
            <img src="./img/入库.png" alt="">
        </li>
        <li class="left">
            <a href="/retrievalQuery" id="retrievalQuery">检索查询</a>
            <img id="retrievalQuery" src="./img/检索.png" alt="">
        </li>
        <li class="left" v-show="cookie==2" style="display: none" v-cloak>
            <a href="/userManagement" id="userManagement" >用户管理</a>
            <img id="yhgl_im" src="./img/用户管理拷贝.png" alt="">
        </li>
    </div>
</div>
<!--右侧-->
<div class="right_div" id="rightDiv">
    <!--搜索-->
    <div class="userMangament">
        <div style="margin-right: 45px;" class="date-content">
            <a id="user1">入库管理</a>
            <!--<span style="margin-left: 32%;font-size: 14px;color: #999;">单据日期：</span>-->
            <!--<input  style="margin-left: 0;" placeholder="请输入开始日期" class="laydate-icon" id="mydate1">-->
            <!--<span>&#45;&#45;</span>-->
            <!--<input  value="" placeholder="请输入结束日期" class="laydate-icon" id="mydate2">-->
            <!--<input type="text" class="laydate-icon" id="search" placeholder="输入关键词进行搜索" style="border:1px #ccc solid; -->
            <!--background:url(img/search.png)no-repeat 130px; padding-left:0px; padding-right: 16px;  font-size:14px;" >-->
        </div>
    </div>
    <!--入库单-->
    <div class="userlist" id="userlist" style="display: block">
        <a class="userlist1" style="font-size: 14px;color:#999;position: absolute;left: 28px;top: 10px;">入库单</a>
        <button style="background: #0176d6;color: #fff;font-size: 15px;" class="btn-default" id="btn-add"
                v-on:click="addxianshi=true">新增
        </button>
        <!--<div class="oddicon">-->
            <!--<span class="oddicon-in" id="oddicon-in"><img src="img/导入copy.png"/><br/>导入</span>-->
            <!--<span class="oddicon-out" id="oddicon-out"><img src="img/导出(1).png"/><br/>导出</span>-->
            <!--<span class="oddicon-prt" id="oddicon-prt"><img src="img/打印.png"/><br/>打印</span>-->
        <!--</div>-->
        <!--属性列表-->
        <div style="overflow-x: auto;margin-left: 28px;margin-top: -30px; margin-right: 20px;">
            <table class="table table-bordered table-hover" style="min-width: 1024px">
                <!--页头-->
                <thead>
                <tr style="background: #1458a7;color: #fff;height: 30px;">
                    <th style="font-size: 15px;">序号</th>
                    <th style="font-size: 15px;">订单编号</th>
                    <th style="font-size: 15px;">物品类别</th>
                    <th style="font-size: 15px;">保管员</th>
                    <th style="font-size: 15px;">发放人</th>
                    <th style="font-size: 15px;">负责人</th>
                    <th style="font-size: 15px;">入库时间</th>
                    <th style="font-size: 15px;">操作</th>
                </tr>
                </thead>
                <!--分区：页脚 -->
                <tfoot>
                </tfoot>
                <!-- 分区：主体 -->
                <tbody id="tbody">
                <tr v-for="(item,index) in goodslist">
                    <td>{{index+1}}</td>
                    <td>{{item.oid}}</td>
                    <td>{{item.com_cat}}</td>
                    <td>{{item.twopeople}}</td>
                    <td>{{item.onepeople}}</td>
                    <td>{{item.threepeople}}</td>
                    <td>{{item.time}}</td>
                    <td><input type="button" value="详情" class="xq-btn" id="xq-Out"
                               v-on:click="inputquery(item.oid)"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--分页显示-->
        <div style="float:right;padding:5px 0;margin-right: 20px;" id="div1">
            <p>
                <button v-on:click="first()" class="btn btn-primary btn-sm" id="sy">第一页</button>
                <button v-on:click="on()" class="btn btn-primary btn-sm" id="syy">上一页</button>
                <button v-on:click="down()" class="btn btn-primary btn-sm" id="xyy">下一页</button>
                <button v-on:click="last()" class="btn btn-primary btn-sm" id="my">最后一页</button>
                共<span style="text-align: center;width:45px;display: inline-block;" id="tiaoshu">{{num}}</span>
                </select>条,
                第<span style="text-align: center;width:74px;display: inline-block;"
                       id="pageNum">{{page}}/{{pages}}</span>页
                <!--<input style="width: 50px;" id="ty" value=""/>-->
                <!--<button onclick="selectByPage()" id="tz" class="btn btn-primary btn-sm">确定</button>-->
            </p>
        </div>
    </div>

    <!--新增弹窗-->
    <div class="dialog-background" id="StockInlist4" style="display:none;" v-show="addxianshi" v-cloak>
        <div class="dialog-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" v-on:click="closeAdd()"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align: center;">入库单</h4>
            </div>
            <div class="modal-body" style="min-height: 400px;max-height: 450px;">
                <table border="0" width="95%">
                    <tr>
                        <td>物品类别：</td>
                        <td>
                            <select v-model="inputs.com_cat" id="in-unit" class="form-control">
                                <option disabled value="">请选择</option>
                                <option value="1">上级调拨</option>
                                <option value="2">本级自筹</option>
                            </select>
                        </td>
                        <td>保管员：</td>
                        <td>
                            <input id="in-time" class="form-control" id="mydate8" v-model="inputs.twopeople">
                        </td>
                    </tr>
                    <tr>
                        <td>发放人：</td>
                        <td>
                            <input type="text" id="in-person" class="form-control" v-model="inputs.onepeople"/>
                        </td>
                        <td></td>
                        <td>
                        </td>
                    </tr>
                </table>
             <!---属性列表-->
               <div class="sti-tbl-container"  style="height: 285px; margin-left: 10px;margin-top: 20px;">                
                        <!--页头-->
                        <div class="sti-tbl-header" style="padding-right:10px;">
                        	<table class="table table-bordered" style="min-width: 900px;margin-bottom: 0px;border-bottom-style: none;">
                             <thead>
                        <tr style="background: #1458a7;color: #fff;height: 30px;">
                            <th style="font-size: 15px;white-space: nowrap;">序号</th>
                            <th style="font-size: 15px;white-space: nowrap;">品名</th>
                            <th style="font-size: 15px;white-space: nowrap;">规格型号</th>
                            <th style="font-size: 15px;white-space: nowrap;">单位</th>
                            <th style="font-size: 15px;white-space: nowrap;">单价</th>
                            <th style="font-size: 15px;white-space: nowrap;">数量</th>
                            <th style="font-size: 15px;white-space: nowrap;">金额</th>
                            <th style="font-size: 15px;width: 140px;white-space: nowrap;" >操作</th>
                       </tr>
                        </thead>
                         </table>
                            </div>
                        <!--分区：页脚 -->
                        <tfoot>
                        </tfoot>
                        <!-- 分区：主体 -->
                        <div class="sti-tbl-body">
                           <table class="table table-bordered" style="min-width: 800px;">
                        <tbody id="tbody">
                        <tr v-for="(item,index) in inputs.datas" v-if="inputs.datas.length>0">
                            <td v-if="index!=vindex"class="input-wid">{{index+1}}</td>
                            <td v-if="index!=vindex" class="input-wid">{{item.sname}}</td>
                            <td v-if="index!=vindex"class="input-wid">{{item.size}}</td>
                            <td v-if="index!=vindex"class="input-wid">{{item.unit}}</td>
                            <td v-if="index!=vindex"class="input-wid">{{item.price}}</td>
                            <td v-if="index!=vindex"class="input-wid">{{item.num}}</td>
                            <td v-if="index!=vindex"class="input-wid">{{item.prices}}</td>
                            <td v-if="index!=vindex" style="white-space: nowrap;width: 140px;">
                                <input type="button" value="修改" class="xq-btn" id="xq-Out"
                                                            v-on:click="vindex=index"/>
                                <input type="button" value="删除" class="xq-btn" id="xq-Out"
                                       v-on:click="deleteshop(index)"/></td>

                            <td v-if="index==vindex">{{index+1}}</td>
                            <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.sname"/></td>
                            <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.size"/></td>
                            <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.unit"/></td>
                            <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.price"/></td>
                            <td v-if="index==vindex"><input type="text" class="input-wid" v-model="item.num"/></td>
                            <td v-if="index==vindex" class="input-wid">
                                {{item.price*item.num}}
                            </td>
                            <td v-if="index==vindex" width="140px"><input type="button" value="保存" class="xq-btn"
                                                            v-on:click="saveshop(index,item.price,item.num)"/>
                            </td>
                        </tr>
                        <tr v-show="shop.addshopxianshi">
                            <td></td>
                            <td><input type="text" class="input-wid" v-model="shop.sname"/></td>
                            <td><input type="text" class="input-wid" v-model="shop.size"/></td>
                            <td><input type="text" class="input-wid" v-model="shop.unit"/></td>
                            <td><input type="text" class="input-wid" v-model="shop.price"/></td>
                            <td><input type="text" class="input-wid" v-model="shop.num"/></td>
                            <td class="input-wid">
                                {{shop.price*shop.num}}
                            </td>
                            <td width="140px"><input type="button" value="保存" class="xq-btn" v-on:click="addSave()"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
               </div>
            </div>      
            <div class="add" id="add"
                 style="height: 20px; width: 930px;margin-bottom:5px;text-align: right;" v-on:click="shop.addshopxianshi=true">
                <img src="img/增加.png"/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" v-on:click="closeAdd()">关闭</button>
                <button type="button" class="btn btn-primary" v-on:click="orderSave()">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div>
    <!--判断弹窗-->   

    <!--详情弹窗-->
    <div class="dialog-background" id="StockInlist5" style="display:none;" v-show="xianshi" v-cloak>
        <div class="dialog-container">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" v-on:click="close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" style="text-align: center;">入库单</h4>
                <div class="oddicon1">
                    <!--<span class="oddicon-in1" id="oddicon-in"><img src="img/导出(1).png"/><br/><a-->
                            <!--:href="url+'/word/out/' + goods.oid " style="color: #999999;">导出</a></span>-->
                    <span class="oddicon-prt1" id="oddicon-out"><a
                            :href="url+'/word/out/' + goods.oid " style="color: #999999;"><img src="img/导出(1).png"/><br/>导出</a></span>
                </div>
            </div>
            <div class="modal-body" style="min-height: 395px">
                <table border="0" width="95%">
                    <tr>
                        <td class="right-a"><b>物品类别：</b></td>
                        <td class="left-a"><b id="out-unit" class="form-a">{{goods.com_cat}}</b></td>
                        <td class="right-a"><b>负责人：</b></td>
                        <td class="left-a"><b id="fun-person" class="form-a">{{goods.threepeople}}</b></td>
                    </tr>
                    <tr>
                    	<td class="right-a"><b>出库时间：</b></td>
                        <td class="left-a"><b id="out-time" class="form-a">{{goods.time}}</b></td>
                        <td class="right-a"><b>领取人：</b></td>
                        <td class="left-a"><b id="attr_desc1" class="form-a">{{goods.twopeople}}</b></td>                        
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                       <td class="right-a"><b>发放人：</b></td>
                       <td class="left-a"><b id="attr_desc1" class="form-a">{{goods.onepeople}}</b></td>
                    </tr>
                </table>
             <!---属性列表-->
               <div class="sti-tbl-container"  style="min-height:  272px;max-height: 275px" >
                        <!--页头-->
                        <div class="sti-tbl-header" style="padding-right:10px;">
                        	<table class="table table-bordered" style="min-width: 900px;margin-bottom: 0px;border-bottom-style: none;">
                             <thead>
                        <tr style="background: #1458a7;color: #fff;height: 30px;">
                            <th style="font-size: 15px;white-space: nowrap; ">序号</th>
                            <th style="font-size: 15px;white-space: nowrap;">品名</th>
                            <th style="font-size: 15px;white-space: nowrap;">规格型号</th>
                            <th style="font-size: 15px;white-space: nowrap;">单位</th>
                            <th style="font-size: 15px;white-space: nowrap;">单价</th>
                            <th style="font-size: 15px;white-space: nowrap;">数量</th>
                            <th style="font-size: 15px;white-space: nowrap;">总价</th>
                        </tr>
                        </thead>
                         </table>
                            </div>
                        <!--分区：页脚 -->
                        <tfoot>
                        </tfoot>
                        <!-- 分区：主体 -->
                          <div class="sti-tbl-body">
                           <table class="table table-bordered" style="min-width: 900px;">
                        <tbody id="tbody">
                        <tr v-for="(item,index) in goods.datas">
                            <td class="input-wid">{{index+1}}</td>
                            <td class="input-wid">{{item.sname}}</td>
                            <td class="input-wid">{{item.size}}</td>
                            <td class="input-wid">{{item.unit}}</td>
                            <td class="input-wid">{{item.price}}</td>
                            <td class="input-wid">{{item.num}}</td>
                            <td class="input-wid">{{item.prices}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
               </div>
            </div>          
                <div class="modal-footer" style="height: 60px;margin-top: -18px;">
                    <div class="example" v-for='(item,index) in pictures'>
                        <img v-bind:src="item" class="pictures">
                        <a href="#" v-on:click="delepictores(index,goods.oid)">
                            <img src="./img/删除2.png" class="delete" title="删除图片"/>
                        </a>
                    </div>
                    <div class="add-picture">
                        <form id="picForm">
                            <input type="hidden" name="oid" v-model="goods.oid">
                            <a href="#"><input type="file" id="pictures" name="pictures" multiple="multiple"
                                               v-on:change="addpictores()"> </a>
                        </form>
                    </div>
            </div>
        </div><!-- /.modal-content -->
    </div>
    <!--判断弹窗-->    
</div>
</div>
<script>
    var input = new Vue({
        el: "#main",
        data: {
            cookie:document.cookie.split(';')[1].split('=')[1],
            vindex: -1,
            url: "",
            xianshi: false,
            addxianshi: false,
            pages: 1,
            num: 0,
            page: 1,
            goodslist: [],
            goods: [],
            inputs: {
                com_cat: '',
                onepeople: '',
                twopeople: "",
                datas: []
            },
            shop: {
                addshopxianshi: true,
                sname: '',
                size: '',
                unit: "",
                price: 0.00,
                num: 0
            },
            pictures: []//图片
        },
        mounted: function () {
            $("body").on("click", ".pictures", function
                () {
                $(this).zoomify("zoom");
            })
           this.do()
        },
        methods: {
            do:function(){
                $.ajax({
                    type: "GET",
                    url: this.url + "/input/list",
                    data: {
                        page: 1
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg);
                        } else {
                            if (data.data.result.length > 0) {
                                input.num = data.data.num
                                input.page = data.data.current_page
                                input.pages = data.data.pages
                                input.goodslist = data.data.result
                            } else {
                            	win.alert('提示',"没有该信息");
                            }
                        }
                    },
                    error: function () {
                       win.alert("提示","错误");
                    }
                });
            },
            inputquery: function (oid) {
                $.ajax({
                    type: "GET",
                    url: this.url + "/query/findByOid/" + oid,
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data) {
                               input.pictures = data.data.picture
                                input.goods = data.data
                                input.xianshi = true
                            } else {
                              win.alert('提示',"没有该信息");
                            }
                        }
                    },
                    error: function () {
                       win.alert("提示","错误");
                    }
                });
            },
            close: function () {
                input.xianshi = false;
                input.goods = []
                input.pictures = []
            },
            first: function () {
                $.ajax({
                    type: "GET",
                    url: this.url + "/input/list",
                    data: {
                        page: 1
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data.result.length > 0) {
                                input.num = data.data.num
                                input.page = data.data.current_page
                                input.pages = data.data.pages
                                input.goodslist = data.data.result
                            } else {
                                win.alert("提示","没有该信息");
                            }
                        }
                    },
                    error: function () {
                       win.alert("提示","错误");
                    }
                });
            },
            on: function () {
                if (this.page - 1 > 0) {
                    $.ajax({
                        type: "GET",
                        url: this.url + "/input/list",
                        data: {
                            page: this.page - 1
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                win.alert("提示",data.msg)
                            } else {
                                if (data.data.result.length > 0) {
                                    input.num = data.data.num
                                    input.page = data.data.current_page
                                    input.pages = data.data.pages
                                    input.goodslist = data.data.result
                                } else {
                                   win.alert("提示","没有该信息");
                                }
                            }
                        },
                        error: function () {
                            win.alert("提示","错误"); 
                        }
                    });
                } else {
                    win.alert("提示",'已经是第一页了');
                }
            },
            down: function () {
                if (this.page + 1 <= this.pages) {
                    $.ajax({
                        type: "GET",
                        url: this.url + "/input/list",
                        data: {
                            page: this.page + 1
                        },
                        success: function (data) {
                            if (data.code == 0) {
                                win.alert("提示",data.msg)
                            } else {
                                if (data.data.result.length > 0) {
                                    input.num = data.data.num
                                    input.page = data.data.current_page
                                    input.pages = data.data.pages
                                    input.goodslist = data.data.result
                                } else {
                                    win.alert("提示","没有该信息");
                                }
                            }
                        },
                        error: function () {
                            win.alert("提示","错误"); 
                        }
                    });
                } else {
                    win.alert('提示',"已经是最后一页了");
                }
            },
            last: function () {
                $.ajax({
                    type: "GET",
                    url: this.url + "/input/list",
                    data: {
                        page: this.pages
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            if (data.data.result.length > 0) {
                                input.num = data.data.num
                                input.page = data.data.current_page
                                input.pages = data.data.pages
                                input.goodslist = data.data.result
                            } else {
                                win.alert("提示","没有该信息");
                            }
                        }
                    },
                    error: function () {
                        win.alert("提示","错误"); 
                    }
                });
            },
            closeAdd: function () {
                input.addxianshi = false
                input.inputs.datas = []
                input.inputs.onepeople = ''
                input.inputs.twopeople = ''
                input.shop.sname = ''
                input.shop.size = ''
                input.shop.unit = ''
                input.shop.price = 0.00
                input.shop.num = 0
                input.shop.addshopxianshi = true
            },
            addSave: function () {
                input.shop.addshopxianshi = false
                input.inputs.datas.push({
                    sname: input.shop.sname,
                    size: input.shop.size,
                    unit: input.shop.unit,
                    price: input.shop.price,
                    num: input.shop.num,
                    prices: input.shop.price * input.shop.num
                })
                input.shop.sname = ''
                input.shop.size = ''
                input.shop.unit = ''
                input.shop.price = 0.00
                input.shop.num = 0
            },
            deleteshop: function (index) {
                input.inputs.datas.splice(index, 1)
            },
            saveshop: function (index,price,num) {
                input.vindex = -1
                input.inputs.datas[index].prices=num*price
            },
            orderSave:function(){
                $.ajax({
                    type: "POST",
                    url: this.url + "/input/add",
                    data:{
                        com_cat:input.inputs.com_cat,
                        onepeople:input.inputs.onepeople,
                        twopeople:input.inputs.twopeople,
                        datas:JSON.stringify(input.inputs.datas)
                    },
//                    dataType: "json",
                    traditional: true,//这里设置为true
                    success: function (data) {
                        if (data.code == 0) {
                            win.alert("提示",data.msg)
                        } else {
                            input.addxianshi = false
                            input.inputs.datas = []
                            input.inputs.onepeople = ''
                            input.inputs.twopeople = ''
                            input.shop.sname = ''
                            input.shop.size = ''
                            input.shop.unit = ''
                            input.shop.price = 0.00
                            input.shop.num = 0
                            input.shop.addshopxianshi = true
                           input.do()
                        }
                    },
                    error: function () {
                    	win.alert("提示","错误");                  
                    }
                });
            },
            addpictores: function () {
                var formData = new FormData($("#picForm")[0]);
                $('#picForm')[0].reset()
                $.ajax({
                    url: '/pic/add',
                    type: 'POST',
                    data: formData,
                    async: false,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (value) {
                        input.pictures = value.paths
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            },
            delepictores: function (index, oid) {
                var delpaths = input.pictures[index]
                input.pictures.splice(index, 1)
                $.ajax({
                    url: 'pic/delete',
                    type: 'POST',
                    data: {
                        oid: oid,
                        paths: delpaths
                    },
                    success: function (value) {
                        if (value.code == 0) {
                            win.alert("提示",value.msg)
                        } else {
                            console.log(value.data)
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                });
            }
        }
    })
</script>
</body>
</html>
			
		